*{
    margin: 0;
    padding: 0;
}
.navbar {
    width: 50cw;
    height: 70px;
    background-color: grey;
    color: white;
}
.navbar ul li {
    display: inline-block;
    margin: 25px 14px;
    font-size: 20px;
    width: 50cw
;
}
.navbar p {
    text-align: right;
    margin: 25px 14px;
    font-size: 20px;
    color: red;
}

